html {
    background-image: url("../img/Background.png");
}

body {
    font-family: "Times New Roman", serif;
    opacity: 0;
    -webkit-transition: opacity 200ms;
    -moz-transition: opacity 200ms;
    -ms-transition: opacity 200ms;
    -o-transition: opacity 200ms;
    transition: opacity 200ms;
}

.menubar {
    width: 95%;
    padding-top: 15px;
    padding-bottom: 15px;
    display: block;
    height: 125px;
    background-color: grey;
    margin: auto;
    border-radius: 5px;
}

img#bannerpic {
    height: 7.813em;
    width: 16.667em;
    margin-left: 10px;
}

header {
    height: 15%;
    width: 100%;

}

li.a {
    font-family: Neou, Arial, serif;
    width: 150px;
    height: 75px;
    float: left;
    list-style: none;
    display: table;
    margin-left: 15px;
    text-align: center;
    vertical-align: center;
    background-color: whitesmoke;
    border-radius: 5px;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    -webkit-box-shadow: 0 7px 15px 0 rgba(50, 50, 50, 0.55);
    -moz-box-shadow: 0 7px 15px 0 rgba(50, 50, 50, 0.55);
    box-shadow: 0 7px 15px 0 rgba(50, 50, 50, 0.55);
    transition: 400ms;
    cursor: pointer;
}

li.a:hover, li.a:focus, a.menuitem:hover {
    background-color: #ff3335;
    color: white;
    margin-top: 10px;
    border-radius: 5px;
    -webkit-box-shadow: 0 7px 12px 0 rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0 7px 12px 0 rgba(50, 50, 50, 0.75);
    box-shadow: 0 7px 12px 0 rgba(50, 50, 50, 0.75);
    transition: 400ms;
}

ul {
    width: 920px;
    background-color: grey;
    text-decoration: none;
    float: right;
    padding-left: 10px;
}

a.menuitem {
    display: table-cell;
    vertical-align: middle;
    text-decoration: none;
    color: black;
}

section#teasercontent {
    width: 95%;
    height: 100vh;
    margin: auto;
}

article#newswrap {
    width: auto;
    margin: auto;
}

div.news {
    max-width: 375px;
    min-width: 375px;
    height: 500px;
    background-color: #ff1227;
    display: block;
    border-radius: 5px;
    margin: 3% 1.5% 0 3%;
    float: right;
    font-family: Raleway, Arial, serif;
    font-size: 17px;
    padding: 10px;
    color: white;
    -webkit-box-shadow: 13px 13px 28px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 13px 13px 28px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 13px 13px 28px 0px rgba(0, 0, 0, 0.4);
}

h2.newsh2 {
    text-align: center;
}

div.textwrapper {
    width: auto;
    height: auto;
    padding: 7px;
    margin: auto;
}

div.button {
    background-color: white;
    color: black;
    display: table;
    width: 100px;
    height: 50px;
    text-align: center;
    cursor: pointer;
    transition: 400ms;
    text-decoration: none;
}

a.buttonnews {
    display: table-cell;
    vertical-align: middle;
    text-decoration: none;
    color: black;
}

div.button:hover, a.buttonnews:hover {
    background-color: black;
    color: white;
    width: 110px;
    transition: 400ms;
    font-weight: bold;
}

footer {
    font-family: Raleway, Arial, serif;
    width: 95%;
    margin: 8px auto 8px auto;
    display: table;
    height: 75px;
    background-color: black;
    border-radius: 5px;
    clear: both;
    overflow: hidden;
    font-weight: bold;
    color: white;
}

.clearfix {
    clear: both;
}

.flt-left {
    float: left;
}

.flt-right {
    float: right;
}

p#footer {
    display: table-cell;
    vertical-align: middle;
    padding: 10px;
}

div#placeholder {
    height: 20px;
}

article.content {
    width: 100%;
    font-family: Raleway, Arial, serif;
    margin: 3% auto 3% auto;
    display: block;
}

div#generaltext {
    max-width: 95%;
    background-color: lightgray;
    margin: auto;
    font-size: larger;
    height: auto;
}

p.text {
    padding: 30px;
    margin: 0;
}

img#pic2 {
    width: 480px;
    height: 270px;
}

img#pic1 {
    height: 7.813em;
    width: 16.667em;
}

figure.piccontainer {
    margin: 1% 1% 1% 1%;
    border: 1px solid black;
    display: block;
}

p.picdesc {
    font-size: small;
    padding-left: 20px;
    position: absolute;
    font-family: Raleway, Arial, serif;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

section#articledriver {
    width: 65%;
    height: auto;
    margin: 0;
    display: block;
}

article.driverstext {
    font-family: Raleway, Arial, serif;
    font-size: larger;
    max-width: 95%;
    background-color: lightgray;
    margin: 3% 0 3% 0;
}

section#sidebar {
    width: 35%;
    height: auto;
    margin: 0;
    display: block;
}

div.sidebarcontainer {
    -webkit-box-shadow: 7px 7px 15px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 7px 7px 15px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 7px 7px 15px 0px rgba(50, 50, 50, 0.75);
    font-size: larger;
    padding: 15px;
    margin: 5% 0 5% 0;
    overflow: visible;
    background-color: lightgrey;
}

article#sidebarwrapper {
    width: 100%;
    font-family: Raleway, Arial, serif;
    margin: 3% 0 3% 0;
}

div#content {
    width: 95%;
    height: 100vh;
    margin: auto;
}

p.textdriver {
    margin: 0;
    font-size: large;
    display: block;
    white-space: nowrap;
    line-height: 30px;
}

img.schumi {
    width: 50%;
    border: solid black 1px;
}

div#heading {
    height: 50px;
    text-align: center;
    min-width: 100%;
    background-color: black;
    font-family: Raleway, Arial, serif;
    color: white;
    margin: 6.5% 0 3% 0;
    display: table;
    overflow: visible;

}

h2#headingh2 {
    display: table-cell;
    vertical-align: middle;
    padding: 20px 55px 20px 55px;
}

h2.headline {
    font-family: Raleway, Arial, serif;
    padding: 20px 20px 0 20px;
    margin: 0;
}

h3.minorheadline {
    font-family: Raleway, Arial, serif;
    padding: 25px 20px 0 20px;
    margin: 0;
}

p.driverequipment {
    padding: 10px 20px 20px 20px;
    margin: 0;
}

img#suit {
    width: 40%;
    padding: 0 25% 0 25%;
}

img#sliderbutton2 {
    width: 2%;
    opacity: 0.3;
    z-index: 2000;
    position: absolute;
    top: 50%;
    right: 1%;
    transition: 100ms;
}

img#sliderbutton1 {
    width: 2%;
    opacity: 0.3;
    z-index: 2000;
    position: absolute;
    top: 50%;
    left: 1%;
    transition: 300ms;

}

img#sliderbutton1:hover, img#sliderbutton2:hover{
    opacity: 1;
    transition: 100ms;
}

div.imageslidertext:hover .imageheader{
    opacity:1;
    transition: 500ms;
}

img.imageslider {
    width: 100%;
    position: relative;
    margin: auto;
    display: inline;
}

section#imageslider {
    width: 75%;
    margin: 3% auto 0 auto;
}

div.imageslider {
    width: auto;
    display: inline;
}
div.imageslidertext{
    position: relative;
    width: 100%;
    overflow:hidden;
}
div.imageheader{
    position: absolute;
    font-size: 300%;
    top: 81%;
    left:0;
    opacity: 0;
    color:white;
    transition: 500ms;
    width:100%;
    padding: 50px 0 50px 50px;
    background-color:black;
    font-family: Raleway, Arial, serif;
}
div.text{
    color: white;
    font-size: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
div#imagesliderwrap{
    position:relative;
    z-index: 2000;
}
article#carstext{
    background-color: lightgrey;
}