body{
    width: 100vw;
    margin:0;
    font-family: "Bebas Neue","Arial Unicode MS", serif;
    overflow : hidden;
}

#white {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 100vh;
    left: 0;
    background: white;
}

header{
    height: 100vh;
}

div#main-content{
    min-width: 100vw;
    min-height: 100vh;
    display:block;
    background-color: #FFFFFF;

}

input[type=button]{
    font-family: "Bebas Neue", sans-serif;
    width: 250px;
    height: 80px;
    display:table;
    background-color: ghostwhite;
    border: solid 2px black;
    position: absolute;
    font-size: 35px;
    margin:0;
    text-align:center;
    text-transform: uppercase;
    -webkit-transition: all 100ms;
    -moz-transition: all 100ms;
    -ms-transition: all 100ms;
    -o-transition: all 100ms;
    transition: all 100ms;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    -webkit-box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 1);
    -moz-box-shadow:    0px 0px 30px 0px rgba(50, 50, 50, 1);
    box-shadow:         0px 0px 30px 0px rgba(50, 50, 50, 1);
}
input[type=button]:hover{
    background-color: black;
    color: ghostwhite;
}
input[type=button]:focus{
    outline: none;
}

.slideshow{
    width: 100%;
    display:block;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    transition: opacity 1200ms;
}

.menubar{
    width: 98%;
    padding-top: 40px;
    display:block;
    height: 150px;
    background-color: grey;
    margin: 0.5% 1% 0 1%;
}
a#pepe{
    position:absolute;
}
